.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: gold;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #414b22;
    color:floralwhite;
    border-radius: 0;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #2a30a5;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 5px;
}
.fa-home:before,.fa-info:before,.fa-address-card:before,.fa-list:before {
   
    margin-right: 4px;
}

/* .breadcrumb{
    margin:3px;
} */

@media all and (max-width:767px){
    .res{
        padding-left: 0;
        padding-right: 0;
    }
    .lft{
        display: block;
    }
    .LI{
        flex-direction: column;
    }
    .ml5{
        margin-top: 30px;
        margin-left: 0rem!important;
    }
}

.cntct{
    background-color: aliceblue;
}
.fa-pencil:before {
    content: "\f040";
    margin-right: 11px;
}

.fa-sign-in:before {
    content: "\f090";
    margin: 7px;
}
.btn-secondary {
    color: cornsilk;
    background-color: forestgreen;
    border-color: darkgreen;
    /* font-size: 16px; */
    font-family: auto;
}
